$app-back-color: #0a0a0f;

$app-fore-color: white;

$input-background-color: #222222;
$input-placeholder-text-color: #8f8f8f;

$dark-gray: #787a7f;

$additional-link-text-color: #2a8978;

$background-gradient: linear-gradient(90deg, #2a8978 50%, rgba(231,205,112,1) 91%);

$border-gradient: linear-gradient(90deg, #2a8978 50%, rgba(231,205,112,1) 91%);
